#heading {
	background-color: #EA526F;
	display: inline-block;
}

#instructions {
	background-color: #D7AF70;
	
}

#randomNumber {
	background-color: #937D64;
	
}

#counters {
	background-color: #E76B74;
	
}

#crystals {
	background-color: #D7AF70;
	
}

#scores {
	background-color: #EA526F;
	
}